<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'admin-panel' %}" class="list-group-item list-group-item-action waves-effect active">Profile</a>
        <a href="{% url 'admin-accounts' %}" class="list-group-item list-group-item-action waves-effect">Accounts</a>
        <a href="{% url 'admin-products' %}" class="list-group-item list-group-item-action waves-effect">Products</a>
        <a href="#" class="list-group-item list-group-item-action waves-effect">Orders</a>
        <a href="{% url 'admin-contact' %}" class="list-group-item list-group-item-action waves-effect">Contact Us</a>
        <a href="{% url 'admin-subscribers' %}" class="list-group-item list-group-item-action waves-effect">Subscribers</a>
</body>
</html>