{% extends "webapp/adminPanel/adminPanel.html" %}

{% block admin-section %}
<div class="col-sm-12" style="color: #000000;">
  <div class="list_add">
    <h2>Contact Us</h2>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col">Message</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for c in contacts %}
      <tr>
        <th scope="row">{{ c.id }}</th>
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.phoneNumber }}</td>
        <td>{{ c.message }}</td>
        <td>
          <a href="{% url 'delete-contact' c.id %}" class="btn btn-danger btn-sm">Delete</a>
          <!--<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deletefurniture">
            Remove</button>-->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
