<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course project info</title>
</head>
<body>
    <h1>Course project info</h1>
    <p>Furniture store website design features the same navigation as any other e-commerce store:
        categorization of goods in header or sidebar, catalog with items filtered by popular parameters - e.g.,
        commercial vs. residential furniture, home vs. street furniture, wood vs. glass - visible contact form,
        one-click checkout. </p>
</body>
</html>